env

/home/bench/Documents/projects/ML-zoomcamp-Homework/week3/bank

/week3/bank

./week3/bank


week9/model_2024_hairstyle.keras


week9/model_2024_hairstyle.tflite
week9/model_2024_hairstyle.tflite

/home/bench/Documents/projects/ML-zoomcamp-Homework/week9/model_2024_hairstyle.tflite

/home/bench/Documents/projects/ML-zoomcamp-Homework/week9/model_2024_hairstyle.keras


model_2024_hairstyle.keras

model_2024_hairstyle.tflite
